body {
  background-color: black;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #C7B011;
  font-size: 100px;
}

.sidebar {
  color: #C90016;
  float: right;
  width: 30%;
  background-color: #C7B011;
  margin-bottom: 150px;
  border: solid #C7B011;
  padding: 20px;
  border-width: 20px;
}

p {
  color: #c71111;
  width: 300px;
  float: left;
}

img {
  padding: 25px;
}